#app {
  font-family: 'Montserrat', sans-serif;
}

.router-link-active {
  font-weight: bold;
}

.btn-success,
.badge-success,
.outline-success {
  background-color: #4eb883 !important;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.card-text {
  font-size: 12px;
}

.breadcrumb {
  background-color: transparent !important;
  padding: 0;
}

.breadcrumb-item a {
  color: #4eb883 !important;
}

.breadcrumb-item.active {
  font-weight: bold;
}

th {
  text-align: center;
}

td[aria-colindex="8"], td[aria-colindex="5"] {
  text-align: center;
}